<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry Potter API - Lainocs</title>
</head>
<body>
    <h1>Harry Potter API - Coding & Digital Innovation</h1>

    <div>
        <p>Bienvenue sur l'API Harry Potter. Vous pouvez accéder aux données en utilisant les routes suivantes :</p>

        <ul>
            <li>Pour accéder à la liste des personnages : <span>GET</span> <a href="/characters">/characters</a></li>
            <li>Pour accéder à un personnage en particulier : <span>GET</span> <a href="/characters/harry-potter">/characters/:slug</a></li>
        </ul>
    </div>

    <p class="footer">Cette API a été réalisée par <a href="https://www.github.com/lainocs">Nicolas de Garrigues</a> dans le cadre du projet annuel de la première année de l'<a href="https://www.iim.fr">IIM DIGITAL SCHOOL</a>.</p>

    <style>
        body {
            font-family: sans-serif;
            padding: 20px;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin-top: 100px;
        }

        li {
            margin-bottom: 10px;
        }

        span {
            font-weight: bold;
            color: #333;
            background-color: #eee;
            padding: 2px 5px;
            border-radius: 3px;
        }

        a {
            color: #333;
            text-underline-offset: 2px;
        }

        a:hover {
            text-decoration: underline;
        }

        p {
            margin-bottom: 20px;
            font-size: 1.2em;
        }

        .footer {
            font-size: 1em;
            color: #999;
            position: absolute;
            bottom: 20px;
        }
    </style>
</body>
</html>